body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  background-color: #503d3f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  font-family: "Comfortaa", sans-serif;
}
.bt-submit {
  background-color: #539987;
}
.bt-cancel {
  background-color: #623632;
}


.menu .text-wrapper {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
}
